
body{
    margin:0px;
    font-family: sans-serif;
    font-size: 30px;
}

.text-center{
    text-align: center;
}

/* Body Header or Navigation Bar */

#body-header{
    background-image: url(img/mac.jpg);
    height:65vh;
    opacity: 0.8;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.nav-bar{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

.nav-bar li{
    display: inline-block;
    margin: 0px 8px;  
    font-weight: 100;
    font-size: 1.1rem;
}

.nav-bar li a{
    color:white;
    text-decoration: none;
}

.nav-hover li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-hover li a:hover{
    color:lightgray;
    border-bottom: 1px dashed black;
}

/* Name & Socials */

#name-social-container {
    margin-top: 20vh;
}

#name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social li {
    border-radius: 50%;
}

.social li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social li a img {
    width: 1rem;
    padding: 8px;
}

/* Section*/
section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
}
.section-heading{
    width:auto;
    padding: 20px 10px 10px;
    font-weight: 400;
   
   }
   .section-heading span{
   font-size:40px;
   color:#2857a4;
   display:inline-block;
   padding-top:10px;
   margin-right:0.5rem;
   }
   
/* About section */
#about{
    position: relative;
    height:auto;
    width:100%;
}
#my-image{
    height:14rem;
    width:14rem;
    margin: auto;
    margin-top: -17vh;
}
#profile img{
    height: 100%;
    width:100%; 
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 4px lightgray;
   
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
/* Skills Section */
.skills-display{
    width:75%;
    padding: 10px;
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.skill-progress{
    width:11rem;
    height:2.2rem;
    background-color:lightgrey;
    border-radius: 1rem;
    margin: 25px;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    overflow: hidden;
}
.skill-progress>div{
    border-radius: 20px 0x 0px 20px ;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skill-name span{
    color:white;
    font-size: 1.2rem;
    margin-left: 10px;
    vertical-align:middle;

}
/* percentage classes */
.eighty-five-percent{
    width: 85%;
    height:inherit
}
.eighty-percent{
    width:80%;
}
.fifty-five-percent{
    width:55%;
}
.sixty-five-percent{
    width:55%;
}
.ninety-five-percent{
    width:95%;
}
.twenty-five-percent{
    width:25%;
}
/* margin and background-color */
.mb75px{
    margin-bottom: 75px;
}

/* mb colors */
.mb-blue{
    background-color: #2857a4;
}
.mb-orange{
    
    background-color: rgb(241, 180, 66);
}
.mb-teal{
    background-color: teal;
}
.mb-purple{
    background-color: rgb(236, 90, 236);
}
.mb-red{
    background-color: rgb(233, 96, 96);
}
.mb-khaki{
    background-color: rgb(100, 189, 248);
}

body{
    margin:0px;
    font-family: sans-serif;
    font-size: 30px;
}

.text-center{
    text-align: center;
}

/* Body Header or Navigation Bar */

#body-header{
    background-image: url(img/mac.jpg);
    height:65vh;
    opacity: 0.8;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.nav-bar{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

.nav-bar li{
    display: inline-block;
    margin: 0px 8px;  
    font-weight: 100;
    font-size: 1.1rem;
}

.nav-bar li a{
    color:white;
    text-decoration: none;
}

.nav-hover li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-hover li a:hover{
    color:lightgray;
    border-bottom: 1px dashed black;
}

/* Name & Socials */

#name-social-container {
    margin-top: 20vh;
}

#name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social li {
    border-radius: 50%;
}

.social li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social li a img {
    width: 1rem;
    padding: 8px;
}
/* About section */
#about{
    position: relative;
    height:auto;
    width:100%;
}
#my-image{
    height:14rem;
    width:14rem;
    margin: auto;
    margin-top: -17vh;
}
#profile img{
    height: 100%;
    width:100%; 
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 4px lightgray;
   
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
/* Portfolio Section */
.portfolio-display{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.img-height{
    height: 350px;
    width: 350px;
}

#div1{
    height:350px;
    width:350px;
}

