
body{
    margin:0px;
    font-family: sans-serif;
    font-size: 30px;
}

.text-center{
    text-align: center;
}

/* Body Header or Navigation Bar */

#body-header{
    background-image: url(img/mac.jpg);
    height:65vh;
    opacity: 0.8;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.nav-bar{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

.nav-bar li{
    display: inline-block;
    margin: 0px 8px;  
    font-weight: 100;
    font-size: 1.1rem;
}

.nav-bar li a{
    color:white;
    text-decoration: none;
}

.nav-hover li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-hover li a:hover{
    color:lightgray;
    border-bottom: 1px dashed black;
}

/* Name & Socials */

#name-social-container {
    margin-top: 20vh;
}

#name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social li {
    border-radius: 50%;
}

.social li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social li a img {
    width: 1rem;
    padding: 8px;
}

/* Section*/

section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
}
.section-heading{
    width:auto;
    padding: 20px 10px 10px;
    font-weight: 400;
   
   }
   .section-heading span{
   font-size:40px;
   color:#2857a4;
   display:inline-block;
   padding-top:10px;
   margin-right:0.5rem;
   }
   

/* About section */

#about{
    position: relative;
    height:auto;
    width:100%;
}
#my-image{
    height:14rem;
    width:14rem;
    margin: auto;
    margin-top: -17vh;
}
#profile img{
    height: 100%;
    width:100%; 
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 4px lightgray;
   
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/* Skills Section */

.skills-display{
    width:70%;
    padding: 10px;
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.skill-progress{
    width:11rem;
    height:2.2rem;
    background-color:lightgrey;
    border-radius: 1rem;
    margin: 25px;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    overflow: hidden;
}
.skill-progress>div{
    border-radius: 20px 0x 0px 20px ;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skill-name span{
    color:white;
    font-size: 1.2rem;
    margin-left: 10px;
    vertical-align:middle;
}

/* Body Header or Navigation Bar */

#body-header{
    background-image: url(img/mac.jpg);
    height:65vh;
    opacity: 0.8;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.nav-bar{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

.nav-bar li{
    display: inline-block;
    margin: 0px 8px;  
    font-weight: 100;
    font-size: 1.1rem;
}

.nav-bar li a{
    color:white;
    text-decoration: none;
}

.nav-hover li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-hover li a:hover{
    color:lightgray;
    border-bottom: 1px dashed black;
}

/* Name & Socials */

#name-social-container {
    margin-top: 20vh;
}

#name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social li {
    border-radius: 50%;
}

.social li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social li a img {
    width: 1rem;
    padding: 8px;
}

/* About section */

#about{
    position: relative;
    height:auto;
    width:100%;
}
#my-image{
    height:14rem;
    width:14rem;
    margin: auto;
    margin-top: -17vh;
}
#profile img{
    height: 100%;
    width:100%; 
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 4px lightgray;
   
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/* Work Experience */
.timeline{
    width:75%;
    border:2px solid black;
    position: relative;
}
.timeline-box{
    position: relative;
    width:40%;
    border: 2px solid black;
    margin: 5px;
    left:5%;
    min-height:150px;
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-box:nth-child(2n)::after{
    content: "";
    border-radius: 50%;
    background-color: lightgray;
    top:25%;
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    left:-10%;
    z-index: 1;
}
.timeline-box:nth-child(2n+1)::after{
    content: "";
    border-radius: 50%;
    background-color: lightgray;
    top:27%;
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    right:-12.5%;
    z-index: 1;

}
.timeline-divider{
    position:absolute;
    width: 0;
    height: 75%;
    border: 1.5px dashed grey;
    top:10%;
    left:50%;
}

.timeline-traveller{
    position:sticky;
    top:20%;
    transform: rotate(90deg);
    color:#2857a4;
    z-index: 2;
}
/* Responsive */

@media screen and (max-width:768px) {
    .timeline-divider{
        left:5%;
    }
    .timeline-box:nth-child(2n+1)::after{
        left:-10.5% ;
    }
    .timeline-box:nth-child(2n)::after{
        left:-10.5%;
    }
    .timeline-box{
        left:12% !important;
        width:85%;
    }
}


/* Portfolio Section */

.portfolio-display{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px;
    margin-bottom: 20px;
    width: 80%;
}
.portfolio-image{
    overflow: hidden;
    max-width: 300px;
    margin:10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio-image img {
    width: 100%;
    height: 100%;
}
.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}
.portfolio-image:hover {
    box-shadow: 0 0 20px #74ADC8;
}
.portfolio-image:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}

/* Contact Section */

#contact{
    background: linear-gradient(50deg,#2857a4 0%,#403066 74%);
    color:white;
    padding-bottom: 40px;
}
#contact h1,
#contact h1 span {
    color: white;
}
#contact-form {
    margin-left: 20%;
}
.contact-display{
    display:flex;
    margin-bottom: 2%;
}
.contact-details {
    width: 35%;
    margin-left: 6%;
}
#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h4 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}
#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

#contact-form-container {
    width: 50%;
}
.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}
.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}
#contact-form button:hover {
    background: white;
    color: #13386fe0;
}
#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Responsive */

@media screen and (max-width:768px) {
    .contact-display{
        display: flex;
        flex-wrap: wrap ;
        flex-direction: column;
    }
    #contact-form-container{
        width:90%;
        
    }
    #my-details-container{
        width:80%;
        margin-left: 15%;
    }
    #contact-form{
        margin-left:15%
    }
}

/* percentage classes */

.eighty-five-percent{
    width: 85%;
    height:inherit
}
.eighty-percent{
    width:80%;
}
.fifty-five-percent{
    width:55%;
}
.sixty-five-percent{
    width:55%;
}
.ninety-five-percent{
    width:95%;
}
.twenty-five-percent{
    width:25%;
}

/* margin and background-color */

.mb75px{
    margin-bottom: 75px;
}
.mb-blue{
    background-color: #2857a4;
}
.mb-orange{
    
    background-color: rgb(241, 180, 66);
}
.mb-teal{
    background-color: teal;
}
.mb-red{
    background-color: rgb(233, 96, 96);
}

/* Body and text-center */
body{
    margin:0px;
    font-family: sans-serif;
    font-size: 30px;
}

.text-center{
    text-align: center;
}

/* Responsive */

@media screen and (max-width:768) {
    
}